:root {
  --default-bg: #1C1C1C;
  --white-color: #fff;
  --pink-100: #FCD4A1;
  --pink-text: #FED6A2;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-bg);
  color: var(--white-color);
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.section__title {
  font-size: 53.93px;
  line-height: 60px;
  font-weight: 600;
  color: var(--pink-text);
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  color: inherit;
}

.relative {
  position: relative;
}

section {
  position: relative;
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 60px;
  position: relative;
  z-index: 2;
}

.parallax-container {
  position: relative;
  background-color: var(--default-bg);
  z-index: 10;
}

.placeholder {
  z-index: 6;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: block;
}

@media (max-width: 1420px) {
  .container {
    width: 1100px;
    margin: auto;
  }
}

@media (max-width: 1150px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
